<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{common/layout::layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
</head>

<body>
	<article>
		<form th:action="@{/login}" th:object="${loginForm}">
			<table>
				<tr>
					<th>ログインID</th>
					<td>
						<input type="text" th:field="*{userId}">
					</td>
				</tr>

				<tr>
					<th>パスワード</th>
					<td>
						<input type="password" th:field="*{password}">
					</td>
				</tr>
			</table>

			<button type="submit">ログイン</button>
		</form>

		<a th:href="@{/regist/account/input}">
			アカウントがまだ無い方はこちらから
		</a>
	</article>
</body>

</html>